<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Charts</title>
</head>
<body>

<nav class="nav mx-4 my-4" style="background-color:##ffffff">
    <a class="nav-link active" href="/"><b>Home</b></a>
    <a class="nav-link" href="/by-manual">Manual</a>
    <a class="nav-link" href="/by-temp">Temperature</a>
    <a class="nav-link" href="/by-schedule">Schedule</a>
    <a class="nav-link" href="/previous-data">Chart</a>
    <a class="nav-link" href="/energy-efficient">Energy efficient</a>
</nav>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript">
</script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    /*<![CDATA[*/

    var data = /*[[${data}]]*/ 'default';
    console.log(data);
    /*]]>*/

    function drawChart() {
        var dataa = new google.visualization.DataTable();

        dataa.addColumn('datetime', 'Date');
        dataa.addColumn('number', 'Temperature');


        for (var prop in data) {
            var value = data[prop];
            var temp = value.temperature;
            var curDate = value.timestamp;

            // Split timestamp into [ Y, M, D, h, m, s ]
            // 2018-03-26T13:32:51.000Z
            var t = curDate.split(/[- : "T".]/);
            var d = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]));


            dataa.addRow([d, temp]);
        }


        var options = {
            title: 'Temperature chart',
            curveType: 'function',
            legend: { position: 'bottom' },
            explorer: { maxZoomOut: 12, axis: 'horizontal'  }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(dataa, options);
    }
</script>
<div class="container-fluid">
    <p class="text-md-center">Chart data</p>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>